* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.mainWrapper {
    width:100%;
    display: flex;
    justify-content: flex-start;
}

.side-menu {
    width:15%;
    background-color: rgba(137, 43, 226, 0.63);
  
}

.container {
    
    width : 85%;
    height:auto;
  
}

